/*header部分开始*/


/*search部分开始*/

.search .search-center {
    width: 500px;
    overflow: hidden;
    margin-left: 500px;
    margin-top: 30px;
}

.search .search-center input {
    outline: none;
    border: none;
    border: 1px solid #00B2EE;
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

.search .search-center button {
    background: #00B2EE;
    border: 1px solid #00B2EE;
    height: 40px;
    width: 50px;
    border-radius: 10px;
}


/*search部分结束*/


/*main部分开始*/

.main {
    margin: 0 auto;
    margin-top: 20px;
}

.main .main-left {
    width: 200px;
    background: #F5F5F5;
    float: left;
    position: absolute;
}

.main .main-left ul li {
    width: 200px;
    height: 75px;
    line-height: 75px;
    padding-left: 10px;
}

.main .main-left ul li a:hover {
    text-decoration: none;
}

.main .main-right {
    height: 450px;
    overflow: hidden;
    /*margin-left: 220px;*/
    background: red;
}

.main .main-right li img {}

.main-right .carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 1050px;
    height: 450px;
}

.main-right .carousel-inner>.item>img,
.carousel-inner>.item h3 {
    color: #00B2EE;
    font-size: 26px;
}


/*main部分结束*/


/*content部分开始*/

.content .content-top {
    border-bottom: 3px solid #00B2EE;
}

.content .content-top h1 {
    margin-top: 20px;
    font-size: 20px;
}

.content .title dd {
    border-bottom: 1px solid #00B2EE;
    height: 30px;
    line-height: 30px;
}

.content .box {
    /*margin:-2px;*/
    display: inline-block;
    padding: 15px 0;
    /*border-top:1px solid #F5F5F5;*/
    border-bottom: 1px solid #ccc;
}

.content .box:hover {
    background: #F5F5F5;
}

.content a {
    color: #00B2EE;
}

.list-content {
    white-space: normal;
    line-height: 21px;
    padding: 0 15px;
}


/*content部分结束*/

.btn-success {
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
}

.btn-success:hover {
    background: #f8f8f8;
    color: #00B2EE;
    border: 1px solid #f8f8f8;
}

.btn-primary {
    color: #333;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

.btn-primary:hover {
    background: #f8f8f8;
    color: #00B2EE;
    border: 1px solid #f8f8f8;
}


/*新闻部分开始*/

.community {
    width: 1020px;
    margin-top: 20px;
}

.community .c-content {
    width: 1020px;
    margin-left: -30px;
}

.community .c-content .father {
    height: 170px;
    /*width: 1050px;*/
    width: 300px;
    overflow: hidden;
}

.community .c-content .pack img {
    transition: all 1s;
}

.community .c-content .pack img:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.c-content>div {
    margin: 0;
    width: 330px;
    height: 230px;
    /*padding: 0 10px 0 0;*/
    float: left;
    border: 0;
}

.c-content .pack {
    width: 300px;
    height: 230px;
    border: 1px solid #c5d8db;
    margin-bottom: 15px;
}

.c-content .pack img {
    width: 300px;
    height: 170px;
}

.c-content .pack p {
    text-align: center;
    line-height: 59px;
    font-size: 14px;
    color: #373d41;
}

.c-content>div>div:nth-child(2) p {
    line-height: 28px;
    font-size: 14px;
    color: #373d41;
}

.c-content .two {
    margin-left: 23px;
}

.c-content .three .pack {
    margin-left: 20px;
}

.c-content .three {
    margin-left: 6px;
}


/*新闻部分结束*/