<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/base.css">
    <link rel="stylesheet" href="/public/css/detail.css">
</head>


<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li><a href="#">欢迎来到同城家教</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <form class="navbar-form navbar-left">
                            <a href="/login" class="btn ">登陆</a>
                            <a href="/register" class="btn ">注册</a>
                        </form>


                        <li><a href="/logout">退出</a></li>
                        <li><a href="/resume">简历</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!--search部分开始-->
    <div class="search container">
        <div class="search-left">同城家教</div>
    </div>
    <!--search部分结束-->
    <div class="content container">
        <div class="main-content">
            <div class="detail-main">
                <div style="text-align:center;margin-bottom:10px;">
                    <script type="text/javascript" src="http://shop2008.liebiao.com/ut3a1dce92f0c8f33cdb14798aafed22e01beed40139eb30ed51322bda.js"></script>
                </div>
                <div class="main-l">
                    <div class="detail-con" style="margin-top:0">
                        <div style=" margin:0 auto; width:780px;">
                            <div class="infoTitle-zp">
                                <div class="title-time">
                                    <h1 class="detail-title">招聘有经验的语文老师</h1>
                                    <div class="title-bot"><span class="tb-other">2017-03-30<!--&nbsp;&nbsp;&nbsp;&nbsp;浏览<span id="post_visitors"></span>次--></span>
                                        <div style="float:right;">
                                            <div class="div_favor">
                                                <span id="span_favor"><i id="span_favor_i" class="span_favor"></i><a href="" id="span_favor_a" rel="nofollow">收藏</a></span>
                                            </div>
                                            <div class="manage"><span class="manage-span"><i class="manage-ico"></i>管理信息</span>
                                                <!-- guanli start -->
                                                <div class="manage-div">
                                                    <ul>
                                                        <li><a id="xiugai" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=edit&p=324916914" rel="nofollow">修改</a></li>
                                                        <li><a id="shanchu" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=delete&p=324916914" rel="nofollow">删除</a></li>
                                                        <li><a id="shuaxin" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=refresh&p=324916914" rel="nofollow">刷新</a></li>
                                                        <li><a id="yuyueshuaxin" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=yuyueshuaxin&p=324916914" rel="nofollow">预约刷新</a></li>
                                                        <!--<li><a id="zhiding" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=settop&p=324916914" rel="nofollow">置顶</a></li>-->
                                                        <li><a id="tuiguang" href="http://wuxi.zhaopin.liebiao.com/cgi-bin/useractions.php?act=tuiguang&p=324916914" rel="nofollow">定向推广</a></li>
                                                    </ul>
                                                </div>
                                                <!-- guanli start -->
                                            </div>
                                            <div class="tousu_left"><i class="tousu-ico"></i><span id="tousu" style="cursor:pointer" href="http://www.liebiao.com/cgi-bin/jubao.php?p=324916914">投诉</span></div>
                                            <!-- Baidu Button BEGIN -->
                                            <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                                                <i class="share-ico"></i>
                                                <span class="bds_more" style="background-image:none !important;padding:0;">分享</span>
                                            </div>
                                            <!-- Baidu Button END -->

                                        </div>
                                    </div>
                                </div>
                                <div class="companyInfo-zp">
                                    <span class="companyName"><a href="http://zhaopin.liebiao.com/company3538066/" target="_blank">南京名思堂教育信息咨询有限公司江阴分公司</a></span>

                                    <span class="companyIcon"><span class="nozhizhao_rz" style="margin-left:5px;" title="营业执照未认证"></span>&nbsp; 营业执照未认证
                                    </span>

                                </div>
                                <div class="companyOther">
                                    <span>公司行业：<a href="/hangye32.html" target="_blank">教育/科研/培训</a></span>
                                    <span>公司性质：私营</span>
                                    <span>公司规模：1-49人</span>
                                </div>
                            </div>

                            <div class="detail-table clearfix" style="margin-top:10px;">
                                <dl class="fl">
                                    <dt>
                                    <ul>
                                        <li>薪资待遇：面议</li>
                                        <li>职位类别：<a href="/jiajiaolaoshi/" target="_blank">家教</a></li>
                                    </ul>
                                </dt>
                                    <dd>
                                        <ul>
                                            <li>学历要求：本科</li>
                                            <li>招聘人数：5人</li>
                                        </ul>
                                    </dd>
                                    <dd>
                                        <ul>
                                            <li>工作年限：不限</li>
                                        </ul>
                                    </dd>
                                    <dd>
                                        联系方式：<span class="tel-img" id="phone_1"><img src="http://wuxi.liebiao.com/article/phone/?type=zp&p=5pMc8sBkHKcAHn2uLnNi83dqLsCkLsCq"></span><span id="notice_1">[<a href="javascript:void(0);" id="chakan_1" class="chakan" onclick="chakanPhone(324916914, 1, 'wuxi');">查看</a>]</span>
                                    </dd>
                                </dl>
                                <dl class="fr">
                                    <script type="text/javascript" src="http://shop2008.liebiao.com/on3a1ecf91feccff30db14798aafed22e01beed40139eb30ed51322bda.js"></script>
                                </dl>
                            </div>


                            <div class="welfare-zp">
                                <div class="welfareLr">
                                    <div class="fl">&nbsp;</div>
                                    <div class="fl-con">
                                        <span class="jq">五险一金</span>
                                    </div>
                                </div>
                            </div>

                            <div style="margin-left: -22px;">
                                <script type="text/javascript" src="http://shop2008.liebiao.com/cm3a1ec492f3ccf13adb14798aafed22e01beed40139eb30ed51322bda.js"></script>
                            </div>

                            <div class="applyJob">
                                <a class="sq-submiter" href="javascript:void(0);" onclick="applyWork(25997067);">立即申请</a>
                            </div>

                            <div class="about-zp">
                                <ul class='about-dh'>
                                    <li class="current">职位描述</li>
                                    <li>公司介绍</li>
                                    <!--<li>公司其他职位</li>-->
                                </ul>
                                <div class="about-lr">
                                    <div>
                                        <div>岗位介绍： <br /> 1、负责语文日常的辅导工作和专业的​‌‌1对1教学，帮助学生克服学习难点，改掉不良学习习惯 <br /> 岗位要求： <br /> 1、表达能力优秀，普通话标准，思维灵活，富有亲和力，有耐心，有责任心，有师德，擅长与学生进行沟通交流 <br /> 2、有教师资格证者优先 <br /> 3、有授课、辅导、家教经验、学校教学经验或培训机构任教者优先 <br /> 工作时间: <br /> 周二至周五13：00-21：00
                                            <br /> 周六至周日8：00-17：00
                                        </div>
                                        <div class="abouts-c">
                                            <p class="dt">公司介绍</p>
                                            <div class="">名思教育集团成立于2003年，是一家专门从事中小学生课外辅导的大型教育机构，拥有科学的教育体系、优秀的教师队伍和先进的管理团队，从早期的教育软件开发、“一对多”辅导发展到今天“优秀教师一对一”个性化辅导。名思教育在全国拥有100多个个性化学习中心，目前已经在南京、合肥、无锡、常州、南通、芜湖、马鞍山、江阴、宜兴、镇江、张家港、嘉兴、桐乡、湖州、绍兴等40多个城市设立学习中心。名思教育坚持请最有实力的教师，运用最先进的教育理念，最科学的教育模式竭诚为中小学生提供优质的教育服务。</div>
                                        </div>
                                        <div class="contact-zp">
                                            <dl>
                                                <dt>联系方式</dt>
                                                <dd>联系电话：<span class="tel-img" id="phone_2"><img src="http://wuxi.liebiao.com/article/phone/?type=zp&p=5pMc8sBkHKcAHn2uLnNi83dqLsCkLsCq"></span><span id="notice_2">[<a href="javascript:void(0);" onclick="chakanPhone(324916914, 2, 'wuxi');" id="chakan_2" class="chakan">查看</a>]</span></dd>

                                                <dd>联系人：王老师</dd>
                                                <dd>联系地址：无锡江阴江阴城中城东城南城北都有校区</dd>
                                                <dd>邮箱：827656492@qq.com</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="hide">
                                        <div>名思教育集团成立于2003年，是一家专门从事中小学生课外辅导的大型教育机构，拥有科学的教育体系、优秀的教师队伍和先进的管理团队，从早期的教育软件开发、“一对多”辅导发展到今天“优秀教师一对一”个性化辅导。名思教育在全国拥有100多个个性化学习中心，目前已经在南京、合肥、无锡、常州、南通、芜湖、马鞍山、江阴、宜兴、镇江、张家港、嘉兴、桐乡、湖州、绍兴等40多个城市设立学习中心。名思教育坚持请最有实力的教师，运用最先进的教育理念，最科学的教育模式竭诚为中小学生提供优质的教育服务。</div>
                                        <div class="contact-zp">
                                            <dl>
                                                <dt>联系方式</dt>
                                                <dd>联系电话：<span class="tel-img" id="phone_2"><img src="http://wuxi.liebiao.com/article/phone/?type=zp&p=5pMc8sBkHKcAHn2uLnNi83dqLsCkLsCq"></span><span id="notice_2">[<a href="javascript:void(0);" onclick="chakanPhone(324916914, 2, 'wuxi');" id="chakan_2" class="chakan">查看</a>]</span></dd>

                                                <dd>联系人：王老师</dd>
                                                <dd>联系地址：无锡江阴江阴城中城东城南城北都有校区</dd>
                                                <dd>邮箱：827656492@qq.com</dd>
                                            </dl>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


</body>

</html>