<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3>公共</h3>
    <a href="/common/login">登录</a>
    <a href="/common/register">注册</a>
    <h3>应聘者</h3>
    <a href="/">应聘者-首页</a>
    <a href="/applicant/resume">应聘者-简历</a>
    <a href="/applicant/detail">应聘者-详情页</a>
    <h3>公司</h3>
    <a href="/company/factoryMain">公司-首页</a>
    <a href="/company/require">公司-要求</a>
    <a href="/company/comDetail">公司-详情页</a>
    <h3>用户管理-应聘者管理</h3>
    <a href="/userApplicant/admin">首页</a>
    <a href="/userApplicant/add">添加页</a>
    <h3>用户管理-公司管理</h3>
    <a href="/userCompany/company">首页</a>
    <a href="/userCompany/company_add">添加页</a>
</body>

</html>