<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/common/base.css">
    <link rel="stylesheet" href="/public/css/applicant/main.css">
    <link rel="stylesheet" href="/public/css/company/factoryMain.css">
</head>

<body>
    <!--header部分开始-->
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li><a href="#">欢迎来到同城家教</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <form class="navbar-form navbar-left">
                            <a href="/login" class="btn ">登陆</a>
                            <a href="/register" class="btn ">注册</a>
                        </form>


                        <li><a href="/logout">退出</a></li>
                        <li><a href="/require">招聘要求</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!--header部分结束-->
    <!--search部分开始-->
    <div class="search container">
        <div class="search-left">同城家教</div>
        <div class="search-center">
            <input type="text">
            <button>搜索</button>
        </div>

    </div>
    <!--search部分结束-->
    <!-- main部分开始 -->
    <div class="main container">
        <div class="main-right">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/public/images/家教1.png" alt="...">
                        <div class="carousel-caption">
                            <div class="item">

                                <h3>同城家教</h3>

                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/public/images/家教2.png" alt="...">
                        <div class="carousel-caption">
                            <h3>同城家教</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/public/images/家教3.png" alt="...">
                        <div class="carousel-caption">
                            <h3>同城家教</h3>
                        </div>
                    </div>
                </div>



                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

    </div>
    <!-- main部分结束 -->

    <div class="container">
        <div class="qz-lb">
            <dl class="cl row">
                <dt class='col-lg-2'>求职意向</dt>
                <dd class='col-lg-1'>姓名</dd>
                <dd class='col-lg-1'>性别</dd>
                <dd class='col-lg-2'>出生日期</dd>
                <dd class='col-lg-2'>工作经验</dd>
                <dd class='col-lg-1'>学历</dd>
                <dd class='col-lg-2'>期望薪资</dd>
                <dd class='col-lg-1'></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>
            <dl>
                <dt class='col-lg-2'><a href="">高级数学教师</a></dt>
                <dd class='col-lg-1'>张峰</dd>
                <dd class='col-lg-1'>女</dd>
                <dd class='col-lg-2'>1970-01-04</dd>
                <dd class='col-lg-2'>10年以上</dd>
                <dd class='col-lg-1'>本科</dd>
                <dd class='col-lg-2'>20000</dd>
                <dd class='col-lg-1'><a href="">详情</a></dd>
            </dl>


        </div>
    </div>
    <!-- footer部分开始 -->
    <footer>
        <div id="right_noborder" class="foot_info container">
            <p class="right_channel">中国家教人才招聘频道介绍：欢迎您访问中国人才网的 . 中国 . 家教 .招聘频道。中国招聘频道免费为中国家教的人才和招聘单位提供家教招聘信息查询和发布服务，是寻找和发布中国家教人才求职和招聘信息的最佳专业的人才网站。欢迎提出宝贵的意见。最新中国家教人才招聘信息：1.招聘有经验的语文老师2.6000急聘会英语住家家教和早教师3.招聘初高中各科兼职老师4.高新诚聘辅导教师5.招聘围棋象棋兼职老师 移动终端请访问<a href="http://m.liebiao.com/_zhaopin/jiajiaolaoshi/">家教招聘</a>移动版</p>
        </div>
        <div style="height:5px;"></div>
        <div id="quick_area" class="zimuzuhe-bottom active container">
            <ul class="zimuzuhe">
            </ul>
            <div class="zimuzuhe-con f12">
            </div>
        </div>
        <p class="container">
            <strong class="b-title">中国家教招聘相关分类：</strong>

            <a href="http://zhaopin.liebiao.com/jiaoshi/">教师/助教招聘</a>
            <a href="http://zhaopin.liebiao.com/jiajiaolaoshi/">家教招聘</a>
            <a href="http://zhaopin.liebiao.com/youerjiaoshi/">幼教招聘</a>
            <a href="http://zhaopin.liebiao.com/jiangshi/">培训师/讲师招聘</a>
            <a href="http://zhaopin.liebiao.com/zhujiao/">培训策划招聘</a>
            <a href="http://zhaopin.liebiao.com/peixunzhuli/">培训助理招聘</a>
            <a href="http://zhaopin.liebiao.com/jiaowurenyuan/">教学/教务管理招聘</a>
            <a href="http://zhaopin.liebiao.com/jiaoyukaifa/">教育产品开发招聘</a>
            <a href="http://zhaopin.liebiao.com/jykeyuanrenyuan/">学术研究/科研招聘</a>
            <a href="http://zhaopin.liebiao.com/jyzhaosheng/">招生/课程顾问招聘</a>
            <a href="http://zhaopin.liebiao.com/xiaozhang/">校长招聘</a>

        </p>
        <p class="container">
            <strong class="b-title">热点城市家教招聘分类：</strong>
            <a href="http://beijing.zhaopin.liebiao.com/jiajiaolaoshi/">北京家教招聘</a><a href="http://shanghai.zhaopin.liebiao.com/jiajiaolaoshi/">上海家教招聘</a><a href="http://guangzhou.zhaopin.liebiao.com/jiajiaolaoshi/">广州家教招聘</a><a href="http://suzhou.zhaopin.liebiao.com/jiajiaolaoshi/">苏州家教招聘</a>
            <a href="http://shenzhen.zhaopin.liebiao.com/jiajiaolaoshi/">深圳家教招聘</a><a href="http://tianjin.zhaopin.liebiao.com/jiajiaolaoshi/">天津家教招聘</a><a href="http://chongqing.zhaopin.liebiao.com/jiajiaolaoshi/">重庆家教招聘</a><a href="http://hangzhou.zhaopin.liebiao.com/jiajiaolaoshi/">杭州家教招聘</a>
            <a href="http://wuxi.zhaopin.liebiao.com/jiajiaolaoshi/">无锡家教招聘</a>
            <a href="http://jinan.zhaopin.liebiao.com/jiajiaolaoshi/">济南家教招聘</a><a href="http://chengdu.zhaopin.liebiao.com/jiajiaolaoshi/">成都家教招聘</a><a href="http://qingdao.zhaopin.liebiao.com/jiajiaolaoshi/">青岛家教招聘</a><a href="http://ningbo.zhaopin.liebiao.com/jiajiaolaoshi/">宁波家教招聘</a>
            <a href="http://shenyang.zhaopin.liebiao.com/jiajiaolaoshi/">沈阳家教招聘</a>
            <a href="http://wuhan.zhaopin.liebiao.com/jiajiaolaoshi/">武汉家教招聘</a><a href="http://nanjing.zhaopin.liebiao.com/jiajiaolaoshi/">南京家教招聘</a><a href="http://dalian.zhaopin.liebiao.com/jiajiaolaoshi/">大连家教招聘</a><a href="http://haerbin.zhaopin.liebiao.com/jiajiaolaoshi/">哈尔滨家教招聘</a>
            <a href="http://foshan.zhaopin.liebiao.com/jiajiaolaoshi/">佛山家教招聘</a>
            <a href="http://yantai.zhaopin.liebiao.com/jiajiaolaoshi/">烟台家教招聘</a>
        </p>
        <div class="bottom-bg">
            <div class="footer">
                <div class="bottom_nav">
                    <a href="http://about.liebiao.com" target="_blank" rel="nofollow">关于列表网</a>
                    <a href="http://tg.liebiao.com" target="_blank" rel="nofollow">我要推广</a>
                    <a href="/cgi-bin/del_post_menu.php" target="_blank" rel="nofollow">我要删除信息</a>
                    <a href="http://help.liebiao.com" target="_blank" rel="nofollow">帮助中心</a>
                    <a href="http://about.liebiao.com/jobs.html" target="_blank" rel="nofollow">招贤纳士</a>
                    <a href="http://about.liebiao.com/contact.html" target="_blank" rel="nofollow">联系我们</a>
                </div>
                <div>&copy;2017 列表网&nbsp;琼ICP备14000502号-12&nbsp;<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=46010602000129" rel="nofollow" style="color: #888888;" target="_blank">琼公网安备46010602000129</a></div>
            </div>
        </div>
    </footer>
    <!-- footer部分结束 -->
</body>
<script src="/public/assets/jquery/jquery.js"></script>
<script src="/public/assets/bootstrap/js/bootstrap.js"></script>

</html>