<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>简历创建</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/assets/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/less/resume.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">欢迎来到同城家教</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if (!isLogin) { %>
                            <form class="navbar-form navbar-left">
                                <a href="/common/login" class="btn btn-primary">登录</a>
                                <a href="/common/register" class="btn btn-success">注册</a>
                            </form>
                            <% } %>
                                <li><a href="/common/logout">退出</a></li>
                                <li><a href="/company/require" id="require">招聘要求</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <div class="header">
        <a class="logoImg" id="" href="#">
            <p class="inspan1">同城家教</p>
        </a>
        <h2 class="title">您正在创建招聘要求...</h2>
    </div>
    <div class="main">
        <form name="" id="resumeId" enctype="multipart/form-key">
            <div class="base">
                <div class="base-title clear">
                    <i class="icon-base icon"></i>
                    <span class="title-font">基本信息</span>
                    <hr class="line" />
                </div>
                <div class="com-content">
                    <ul class="com-list">
                        <li class="birthday cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">招聘职位</span>
                            <div class="com-select selects clear">
                                <input type="text" class="dateBir">
                            </div>
                            <div id="dateBirInfo" class="ErrorInfo"></div>
                        </li>
                        <li class="birthday cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">发布日期</span>
                            <div class="com-select selects clear">
                                <input type="text" data-required data-description='dateBir' data-describedby='dateBirInfo' class="dateBir" name="releaseDate" data-date-language='zh-CN' data-provide='datepicker' data-date-end-date='0d' data-date-format='yyyy-mm-dd'>
                            </div>
                            <div id="dateBirInfo" class="ErrorInfo"></div>
                        </li>
                        <li class="name cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">公司名称</span>
                            <input type="text" data-required data-description='tcName' data-describedby='tcNameInfo' class="com-input" id="txtUserName" name="username" value="">
                            <div id="tcNameInfo" class="ErrorInfo"></div>
                        </li>

                        <li class="name cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">公司性质</span>
                            <input type="text" data-required data-description='tcName' data-describedby='tcNameInfo' class="com-input" id="txtUserName" name="username" value="">
                            <div id="tcNameInfo" class="ErrorInfo"></div>
                        </li>
                        <li class="name cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">公司规模</span>
                            <input type="text" data-required data-description='tcName' data-describedby='tcNameInfo' class="com-input" id="txtUserName" name="username" value="">
                            <div id="tcNameInfo" class="ErrorInfo"></div>
                        </li>
                        <li class="workTime cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">学历要求</span>
                            <select name="" id="" class="select">
                                <option><a href="javascript:void(0);" class="select-option" value='0'>无要求</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>高中以上</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>专科以上</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>本科以上</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>硕士</a></option>                                 
                            </select>
                        </li>
                        <li class="salary cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">工作年限</span>
                            <select name="" id="" class="select">
                                <option><a href="javascript:void(0);" class="select-option" value='0'>面议</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>1000元以下</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>1000-2000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>2000-3000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>3000-4000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>5000-8000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>12000-20000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>20000-25000元</a></option>
                                <option><a href="javascript:void(0);" class="select-option" value='0'>25000元以上</a></option>
                                                                             
                            </select>
                        </li>
                        <li id="notAuthTel" class="tel cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">联系方式</span>
                            <input type="text" data-required data-description='tel' data-describedby='telInfo' class="com-input" maxlength="11" name="phone" id="txtMobile" value="">
                            <div id="telInfo" class="ErrorInfo"></div>
                        </li>
                        <li id="notAuthTel" class="tel cate-list">
                            <b class="must-Symbol">*</b>
                            <span class="com-title">联系地址</span>
                            <input type="text" data-required data-description='tel' data-describedby='telInfo' class="com-input" maxlength="11" name="phone" id="txtMobile" value="">
                            <div id="telInfo" class="ErrorInfo"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="other">
                <div class="other-title clear">
                    <i class="icon-other icon"></i>
                    <span class="title-font">职位描述</span>
                    <button class="icon-cirArr" id="other-sel">点我</button>
                    <hr class="line" />
                </div>
                <div class="com-content" id="toggle">
                    <ul class="com-list">
                        <li class="self cate-list">
                            <span class="com-title">岗位介绍</span>
                            <div class="self-wrap">
                                <textarea class="self-content" id="txtIntrodSelf" maxlength="500" name="positionInfo"></textarea>
                            </div>
                        </li>
                        <li class="self cate-list">
                            <span class="com-title">公司介绍</span>
                            <div class="self-wrap">
                                <textarea class="self-content" id="txtIntrodSelf" maxlength="500" name="companyInfo"></textarea>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="save">
                <input type="submit" class="save-resume" value="保存简历" id="submit">
            </div>
        </form>
    </div>
    <script src="/public/assets/jquery/jquery.js"></script>
    <script src="/public/assets/validate/jquery-validate.js"></script>
    <script src="/public/assets/jquery-form/jquery.form.js"></script>
    <script src="/public/assets/bootstrap/js/bootstrap.js"></script>
    <script src="/public/assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/public/assets/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="/public/js/require.js"></script>
</body>

</html>