.qz-lb {
    width: 1000px;
}

.qz-lb .cl {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}

.qz-lb dt,
dd {
    height: 40px;
    line-height: 40px;
    text-align: center;
}


/*新闻部分开始*/

.community {
    width: 1020px;
    margin-top: 20px;
}

.community .c-content {
    width: 1020px;
    margin-left: -30px;
}

.community .c-content .father {
    height: 170px;
    /*width: 1050px;*/
    width: 300px;
    overflow: hidden;
}

.community .c-content .pack img {
    transition: all 1s;
}

.community .c-content .pack img:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.c-content>div {
    margin: 0;
    width: 330px;
    height: 230px;
    /*padding: 0 10px 0 0;*/
    float: left;
    border: 0;
}

.c-content .pack {
    width: 300px;
    height: 230px;
    border: 1px solid #c5d8db;
    margin-bottom: 15px;
}

.c-content .pack img {
    width: 300px;
    height: 170px;
}

.c-content .pack p {
    text-align: center;
    line-height: 59px;
    font-size: 14px;
    color: #373d41;
}

.c-content>div>div:nth-child(2) p {
    line-height: 28px;
    font-size: 14px;
    color: #373d41;
}

.c-content .two {
    margin-left: 23px;
}

.c-content .three .pack {
    margin-left: 20px;
}

.c-content .three {
    margin-left: 6px;
}


/*新闻部分结束*/