<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/common/login.css">
</head>

<body>
    <div class="container">
        <form class="form-signin" id="form">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="密码" required>
            <span class="error">账号或密码错误</span>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
        // var remoteUrl = "http://192.16";
        $('#form').on('submit', function(e) {
            e.preventDefault()
            $.ajax({
                url: '/teacher/login',
                type: 'post',
                data: $(this).serialize(),
                dataType: 'json'
            }).then(function(data) {
                if (data.success) {
                    if (data.type === '1') {
                        window.location.href = '/#' + data.id
                    } else if (data.type === '2') {
                        window.location.href = '/company/factoryMain#' + data.id
                    } else if (data.type === '3') {
                        window.location.href = '/userApplicant/admin'
                    }

                } else if (!data.success) {
                    console.log(1)
                    $('.error').css(
                        'display', 'inline-block'
                    )

                }
            })

        })
    </script>
</body>

</html>