<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <link rel="stylesheet" href="/public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/less/index.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li><a href="#">欢迎来到同城家教</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/common/logout">退出</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- 侧边栏 -->
    <!-- <?php echo $_SERVER['PATH_INFO'] ?> -->
    <div class="aside">
        <!-- 个人资料 -->
        <div class="profile">
            <!-- 头像 -->
            <h4>布头儿</h4>
        </div>
        <!-- 导航菜单 -->
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="/userApplicant/admin">
                        <i class="fa fa-bell"></i> 应聘者管理
                    </a>
                </li>
                <li>
                    <a href="/userCompany/company">
                        <i class="fa fa-bell"></i> 公司管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <div class="body teacher">
                <!-- 面包屑 -->
                <ol class="breadcrumb">
                    <li class="active"><a href="">公司添加</a></li>
                </ol>
                <div class="teacher-add">
                    <form action="" class="form-horizontal col-xs-offset-2" id="formId">
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">邮箱</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" placeholder="请输入邮箱" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">密码</label>
                            <div class="col-xs-4">
                                <input type="password" class="form-control input-sm" name="tc_pass" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-xs-3 control-label">昵称</label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" placeholder="请输入昵称" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7">
                                <a href="./advert_list.html" class="btn btn-success btn-sm pull-right " id="add"> 添 加 </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#add").on("click", function() {
            var formId = $("#formId").serialize();
            $.ajax({
                type: "post",
                url: "/api/teacher/teacher_add",
                data: formId,
                dataType: "json",
                success: function(data) {
                    console.log(data);
                },
                error: function() {
                    console.log(111);
                }
            })
            return false;
        })
    </script>
</body>

</html>